.footer {
    background-color: white;
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    font-weight: 300;
    color: hsla(243, 57%, 50%, 1);;
}

.add, .note {
    font-size: 16px;
    color: hsl(209, 40%, 10%);
}

.add {
    margin-top: 10px;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-top: 10px;
} 
.contact ul li a {
    font-size: 16px;
    color: hsl(209, 40%, 10%);
    display: inline-block;
}

.media-icon {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
}

.content {
    display: flex;
    align-items: flex-start;
    padding-block: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px;
}

.logo-footer img {
    width: 200px;
    margin-block-end: 20px;
}

.address {
    margin-block-end: 20px;
}

.copy-right {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin: 0 auto;
}

.copy-right h6 {
    margin: 0 auto;
}

.logo-footer, .address, .contact {
    margin-right: 120px;
}

.section {
    margin-inline: auto;
}

.container-2 {
    margin: 0 200px;
}