body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    background-color: #F8F7F4; /* Change this to the desired background color */
    /*padding: 0; /* PLEASE DELETE THIS ONCE DONE THE DEMO */
    /*margin: 0; /* PLEASE DELETE THIS ONCE DONE THE DEMO */
  }
  
  
  /* Your existing CSS styles */
 
  h5, b {
    font-size: 24px;
    font-weight: 300;
    color: hsla(243, 57%, 50%, 1);/* Remove default margin */
    margin-top: 50px;
  }
  
  p{
    font-size: 18px;
    color: hsl(209, 40%, 10%);
    margin-bottom: 10px; 
  }
  
  .white-box {
    margin-top: 150px;
    background-color: white; /* Set background color to white */
    width: 1518px; /* Set width */
    height: 100px; /* Set height */
    /*border: 1px solid black; /* Add a black border */
  }
  
  .two-column-list {
    margin-left: 6rem;
    columns: 2; /* Divide the list into two columns */
    -webkit-columns: 2; /* For Safari/Chrome/Opera */
    -moz-columns: 2; /* For Firefox */
    list-style-type: none; /* Remove default bullet points */
  }
  

  .subtopics {
    margin-left: 6rem;
  }

  .subtopics b {
    font-size: 22px;
    font-weight: 300;
    color: hsla(243, 57%, 50%, 1);
  }

  .guid-items {
    display: flex;
    padding-block-start: 1rem;
}
.guid-items i {
    font-size: 18px;
    padding-right: 1rem;
    padding-block-start: 0.5rem;
}

.guid-items a:is(:hover, :focus-visible) {
    color: hsla(209, 41%, 10%, 0.9);
    opacity: 0.8;
}