body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  background-color: #F8F7F4; /* Change this to the desired background color */
  /*padding: 0; /* PLEASE DELETE THIS ONCE DONE THE DEMO */
  /*margin: 0; /* PLEASE DELETE THIS ONCE DONE THE DEMO */
}

.navbar {
  background-color: #ffffff;
  padding: 15px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  max-height: 40px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #000000;
  text-decoration: none;
  
}

.buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.login-btn {
  background-color: transparent;
  
  color: #000000;
}

.signup-btn {
  background-color: #007bff;
  color: #ffffff;
}

.signup-btn:hover {
  background-color: #0056b3;
}

/* Your existing CSS styles */

h3 {
  color: #3F37C9; /* Change this to the desired color */
    margin-top: 0; /* Remove default margin */
    margin-top: 60px;
}

.search-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Adjust as needed */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px 50px 50px 50px; /* Adjusted border radius */
  width: 300px; /* Adjusted width */
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px 50px 50px 50px; /* Adjusted border radius */
  cursor: pointer;
  margin-left: 5px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



p{
  margin-bottom: 10px; 
}

.white-box {
  margin-top: 150px;
  background-color: white; /* Set background color to white */
  width: 1518px; /* Set width */
  height: 100px; /* Set height */
  /*border: 1px solid black; /* Add a black border */
}

.two-column-list {
  margin-left: 6rem;
  columns: 2; /* Divide the list into two columns */
  -webkit-columns: 2; /* For Safari/Chrome/Opera */
  -moz-columns: 2; /* For Firefox */
  list-style-type: none; /* Remove default bullet points */
}

