html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

.h1 {
  font-size: var(--fontSize-1);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fontSize-2);
}

.h3 {
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.2;
}

.section {
  margin-block-end: var(--section-spacing);
  margin-inline: auto;
}

.container-2 {
  margin: 0 200px;
}

/* hero styling styles */

.hero {
  height: auto;
  margin-block-end: var(--section-spacing);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  padding-block: 15rem;
}

.hero .hero-content{
  position: relative;
  margin: auto 0;
}

.hero .section-title {
  color: var(--text-white);
  font-family: var(--ff-poppins-serif);
}

.hero .section-sub-title {
  color: var(--text-white);
  font-family: var(--ff-poppins-serif);
}


/* Computing and Information Systems Degree Programme */

.section-pr {
  background-color: var(--bg-white);
}

.pr-content {
  display: flex;
  padding-block: 3rem;
}

.pr-content-2 {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding-block: 50px;
  width: 50%;
  padding-right: 3rem;
}

.publisher {
  margin-block-end: 4rem;
}

.pr-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 3rem;
}

.pr-heading {
  color: var(--bg-majorelle-blue);
  margin-block-end: 2rem;
}






.main-context {
  background-color: var(--bg-about);
  padding-bottom: 50px;
}
.main-context h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 10px;
  margin-bottom: 25px;
}
.main-context p {
  text-align: justify;
  font-size: 1.8rem;
  margin-bottom: 25px;
}


/* Software Engineering Degree Programme */

.se-content {
  display: flex;
  padding-block: 3rem;
}

.se-content-2 {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding-block: 50px;
  width: 50%;
  padding-left: 3rem;
}

.publisher {
  margin-block-end: 4rem;
}

.se-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 3rem;
}

.se-heading {
  color: var(--bg-majorelle-blue);
  margin-block-end: 2rem;
}


/* Scope */
.card-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 31%;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-inline-end: 20px;
}

.card h4 {
  color: var(--text-scope);
  font-size: var(--fontSize-6);
}

.card ul li {
  font-size: 16px;
}

.guid-items {
  display: flex;
  padding-block-start: 0.6rem;
}

.guid-items i {
  font-size: var(--fontSize-6);
  padding-right: 1rem;
  padding-block-start: 0.5rem;
}

.card-context {
  padding-bottom: 0;
}




/* Responsive styles */

