header {
  position: fixed;
}

.main-outer {
  background-color: var(--bg-about);
}

.image-outer {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: -1px;
  background-color: var(--bg-about);
  border: 1px solid transparent;
}
.image-outer h1 {
  font-family: var(--ff-poppins-serif);
  color: var(--text-white);
  font-size: var(--fontSize-1);
  margin: 130px 0 10px 76px;
}
.image-outer h3 {
  color: var(--text-white);
  font-size: var(--fontSize-3);
  font-family: var(--ff-poppins-serif);
  margin-left: 76px;
}

.main-context {
  margin: -200px 150px 0 150px;
  background-color: var(--bg-about);
  font-family: "roboto";
  padding-bottom: 50px;
}
.main-context h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 10px;
  margin-bottom: 25px;
}
.main-context p {
  text-align: justify;
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.main-context button {
  border: 2px solid var(--border-readmore);
  color: var(--text-white);
  border-radius: 35px;
  padding: 0 30px;
  height: 40px;
  font-size: var(--fontSize-6);
  background-color: var(--bg-majorelle-blue);
}
.main-context button:hover, .main-context button:focus-visible {
  background-color: var(--bg-ocean-blue);
}

.main-outer-secondContext {
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  font-family: "roboto";
}
.main-outer-secondContext .secondContext {
  display: flex;
  padding: 0;
  margin-top: 50px;
  height: 400px;
}
.main-outer-secondContext .secondContext .inner-secondContext {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}
.main-outer-secondContext .secondContext .inner-secondContext h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 25px;
}
.main-outer-secondContext .secondContext .inner-secondContext p {
  text-align: justify;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.main-outer-secondContext .secondContext .inner-secondContext button {
  border: 2px solid var(--border-readmore);
  color: var(--text-white);
  border-radius: 35px;
  width: 20%;
  height: 40px;
  font-size: var(--fontSize-6);
  background-color: var(--bg-majorelle-blue);
}
.main-outer-secondContext .secondContext .inner-secondContext button:hover, .main-outer-secondContext .secondContext .inner-secondContext button:focus-visible {
  background-color: var(--bg-ocean-blue);
}
.main-outer-secondContext .secondContext .inner-image-secondContext {
  flex: 0.8;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: right;
}
.main-outer-secondContext .secondContext .inner-image-secondContext img {
  width: 90%;
}

.thirdContext {
  display: flex;
  padding: 0;
  margin: 50px 150px 0 150px;
  height: 400px;
  font-family: "roboto";
}
.thirdContext .inner-thirdContext {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}
.thirdContext .inner-thirdContext h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 25px;
}
.thirdContext .inner-thirdContext p {
  text-align: justify;
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.thirdContext .inner-thirdContext button {
  border: 2px solid var(--border-readmore);
  color: var(--text-white);
  border-radius: 35px;
  width: 20%;
  height: 40px;
  font-size: var(--fontSize-6);
  background-color: var(--bg-majorelle-blue);
}
.thirdContext .inner-thirdContext button:hover, .thirdContext .inner-thirdContext button:focus-visible {
  background-color: var(--bg-ocean-blue);
}
.thirdContext .inner-image-thirdContext {
  flex: 0.8;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: left;
}
.thirdContext .inner-image-thirdContext img {
  width: 90%;
}

.fifth-Context-outer {
  display: flex;
  padding: 0;
  margin-top: 50px;
  font-family: "Roboto Serif", serif;
}
.fifth-Context-outer .fifth-context h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 25px;
}
.fifth-Context-outer .fifth-context p {
  text-align: justify;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.scope {
  margin-top: 0;
  font-family: "Roboto Serif", serif;
}
.scope h4 {
  font-size: var(--fontSize-4);
  color: var(--text-majorelle-blue);
  margin-bottom: 20px;
  margin-top: 10px;
}
.scope .scope-outer {
  display: flex;
  margin-bottom: 20px;
}
.scope .scope-outer .scope-box {
  height: auto;
  width: 100%;
  margin-right: 10px;
  border: 2px solid var(--border-readmore);
  border-radius: 20px;
  background-color: var(--bg-white);
  color: var(--text-scope);
  padding-bottom: 25px;
}
.scope .scope-outer .scope-box h4 {
  margin-left: 20px;
  color: var(--text-scope);
  font-size: var(--fontSize-5);
}
.scope .scope-outer .scope-box ul {
  margin-left: 30px;
  font-size: var(--fontSize-6);
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .scope .scope-outer .scope-box {
    width: 100%;
  }
}
.scope .scope-outer .scope-box:last-child {
  margin-right: 0;
}
.scope .scope-outer .box {
  width: 33%;
  height: auto;
  margin-right: 10px;
  border: 2px solid var(--border-readmore);
  border-radius: 20px;
  background-color: var(--bg-white);
  color: var(--text-scope);
  padding-bottom: 25px;
}
.scope .scope-outer .box h4 {
  margin-left: 20px;
  color: var(--text-scope);
  font-size: var(--fontSize-5);
}
.scope .scope-outer .box ul {
  margin-left: 30px;
  font-size: var(--fontSize-6);
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .scope .scope-outer .box {
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .scope .scope-outer {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=about.css.map */
