
/* responsive for larger than 375px screen */

@media only screen and (min-width: 375px) and (max-width: 570px) {

    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 3.8rem;
        --fontSize-2: 3rem;
        --fontSize-3: 2.8rem;
        --fontSize-4: 2.6rem;
        --fontSize-5: 2.2rem;
        --fontSize-6: 1.8rem;
        --fontSize-7: 1.6rem;

        /* Spacing */
        --section-spacing: 40px;

    }
    
    
    /* Reused Style */

    .section {
        padding-block-end: var(--section-spacing);
    }

   
    .search_container {
        width: 80%;
    }

    
    .image-outer {
       
        width: 100%;
        margin-inline: auto;
    }

    .image-outer h1{
        margin-top: 20px;
    }

    .main-context{
        max-width: 340px;
        width: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-outer-secondContext{
        margin-top: 200px;
    }

    .main-context button{
        width: 100%;
    }
    .secondContext {
        margin-top: 200px;
      max-width: 340px;
         width: 100%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .secondContext .inner-image-secondcontext{
        width: 100%;
        height: auto;
        
    }

    .secondContext .inner-secondcontext{
        width: 100%;
        height: auto;
    }

    .main-outer-secondContext .secondContext .inner-secondContext button{
        width: 100%;
        margin-bottom: 50px;
    }

    .thirdContext{
    
        margin-top: 300px;
        margin-inline: auto;
      max-width: 340px;
         width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thirdContext .inner-image-thirdcontext{
        width: 100%;
        height: auto;
    }
    .thirdContext .inner-thirdcontext{
        width: 100%;
        height: auto;
    }

    .thirdContext .inner-thirdContext button{
        width: 100%;
    }


    .fifth-context{
        margin-top: 100px;
        margin-inline: auto;
      max-width: 340px;
         width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }
    
    .scope{
       
        margin-inline: auto;
      max-width: 340px;
         width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    button{
        padding: 4px 12px;
    }


    /* .scope-outer{
        display: flex;
       flex-direction: column;
    }
    .scope-box{

        width: 100%;
        
    } */


    /* Footer */



  /* responsive for larger than 575px screen */

  @media only screen and (min-width: 575px) and (max-width: 767px) {

    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 4rem;
        --fontSize-2: 3.2rem;
        --fontSize-3: 2.8rem;
        --fontSize-4: 2.6rem;
        --fontSize-5: 2.2rem;
        --fontSize-6: 1.8rem;
        --fontSize-7: 1.6rem;

        /* Spacing */
        --section-spacing: 40px;

    }
    
    
    /* Reused Style */

    .section {
        padding-block-end: var(--section-spacing);
    }

    
    .search_container {
        width: 70%;
    }



    .image-outer {
       
        width: 100%;
        margin-inline: auto;
    }

    .image-outer h1{
        margin-top: 0px;
    }

    .main-context{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .secondContext {
      max-width: 540px;
         width: 100%;
        margin-inline: auto;

    }

    .thirdContext{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .fifth-context{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
    
    .scope{
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
    button{
        padding: 4px 12px;
    }


    .scope-outer{
        display: flex;
        flex-direction: column;
    }
    .scope-box{

        width: 100%;
        
    }

  
   
    /* Footer */

}


/* responsive for larger than 768px screen */

@media only screen and (min-width: 768px) and (max-width: 990px) {

    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 4.8rem;
        --fontSize-2: 4rem;
        --fontSize-3: 2.8rem;
        --fontSize-4: 2.6rem;
        --fontSize-5: 2.2rem;
        --fontSize-6: 1.8rem;
        --fontSize-7: 1.6rem;

        /* Spacing */
        --section-spacing: 120px;

    }
    
    
    /* Reused Style */

   
    .search_container {
        width: 70%;
    }

    .image-outer {
       
        width: 100%;
        margin-inline: auto;
    }

    .image-outer h1{
        margin-top: 80px;
    }

    .main-context{
        max-width: 720px;
        width: 100%;
        margin-inline: auto;
    }

    .secondContext {
      max-width: 720px;
         width: 100%;
        margin-inline: auto;

    }

    .thirdContext{
        max-width: 720px;
        width: 100%;
        margin-inline: auto;
    }

    .fifth-context{
        max-width: 720px;
        width: 100%;
        margin-inline: auto;
    }
    
    .scope{
        max-width: 720px;
        width: 100%;
        margin-inline: auto;
    }
   
    

    /* Footer */

}



/* responsive for larger than 992px screen */

@media only screen and (min-width: 992px) and (max-width: 1190px) {

    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 6.4rem;
        --fontSize-2: 4.8rem;
        --fontSize-3: 3rem;

    }

    /* Reused Style */

    .image-outer {

        width: 100%;
        margin-inline: auto;
    }
    .main-context {
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
    }

    .secondContext {
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
    }

    .thirdContext{
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
    }

    .fifth-context{
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
    }
    
    .scope{
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
    }

    .search_container {
        width: 70%;
    }

    .inner-image-thirdcontext{
       height: 400px;
       width: auto;
    }
    .inner-image-secondcontext{
        height: auto;
       width: 400px;
    }


    .inner-image-thirdcontext{
        height: 400px;
        width: auto;
    }

    /* footer */
    

}


/* responsive for larger than 1200px screen */

@media (min-width: 1200px) {


    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 6.4rem;
        --fontSize-2: 4.8rem;
        --fontSize-3: 3rem;

    }

    /* Reused Style */


    .image-outer {
        max-width: 100%;
    }

    .secondContext {
        max-width: 1000px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .thirdContext{
        max-width: 1000px;
    }

    .fifth-context{
        max-width: 1000px;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .scope{
        max-width: 1000px;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    
    /* Footer */
    

}


/* responsive for larger than 1400px screen */

@media (min-width: 1400px) {


    /* Custom Property */

    :root{

        /* Typograpy */

        /* Font size */
        --fontSize-1: 7.2rem;

    }

    /* Reused Style */


    .image-outer {
        max-width: 100%;
    }

    .secondContext {
        max-width: 1200px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .thirdContext{
        max-width: 1200px;
    }

    .fifth-context{
        max-width: 1200px;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .scope{
        max-width: 1200px;
        margin-left: 150px;
        margin-right: 150px;
    }
   
    .first{
        margin-bottom: 5px;
      }

    /* Footer */
    

}