/* custom properties */

:root {
    /* Colors */

    /* Background color  */

    --bg-white: hsl(0, 0%, 100%);
    --bg-lavender-blush: hsla(45, 22%, 96%, 1);
    --bg-majorelle-blue: hsla(243, 57%, 50%, 1);
    --bg-ocean-blue:hsla(229, 83%, 60%, 1);

    /* Text color */

    --text-white: hsl(0, 0%, 100%);
    --text-gunmetal: hsl(209, 40%, 10%);
    --text-majorelle-blue: hsla(243, 57%, 50%, 1);

    /* Border color */
    --border-gunmetal: hsl(209, 40%, 10%);
    --border-majorelle-blue: hsla(243, 57%, 50%, 1);

    /* Typography */

    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-poppins-serif: 'Poppins Serif', serif;

    /* font-size */
    --fontSize-1: 6.8rem;
    --fontSize-2: 6.4rem;
    --fontSize-3: 4rem;
    --fontSize-4: 3.6rem;
    --fontSize-5: 2.4rem;
    --fontSize-6: 2rem;

    /* font-weight */
    --weight-bold: 700;
    --weight-medium: 500;
    --weight-regular: 400;
    --weight-light: 300;

    /* Spacing */
    --section-spacing: 100px;

    /* Shadow */
    --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
    --shadow-2: 0 5px 10px hsla(243, 57%, 50%, 0.1);

    /* Border Radius */
    --radius-pill: 200px;
    --radius-circle: 50%;
    --radius-30: 30px;
    --radius-20: 20px;

    /* Transition */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/* reset default properties */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, span, input, button, ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input, button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-lavender-blush);
    color: var(--text-granite-gray);
    font-size: var(--fontSize-6);
}

body.nav-active {
    overflow: hidden;
}

/********************** Reuse styles **********************/


.btn {
    height: 40px;
    color: var(--text-white);
    padding: 10px 24px;
    border-radius: var(--radius-pill);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: var(--transition-1);
}

.btn-primary {
    background-color: var(--bg-majorelle-blue);
}

.btn-primary:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
}

.btn-secondary {
    background-color: var(--bg-white);
    color: var(--text-gunmetal);
    border: 1px solid var(--border-gunmetal);
}

.btn-secondary:is(:hover, :focus-visible) {
    background-color: hsl(209, 40%, 10%);
}

.section {
    margin-block-end: var(--section-spacing);
}

.container-2 {
    margin: 0 200px;
}

.h1 {
    font-size: var(--fontSize-1);
    line-height: 1.2;
}

.h2 {
    font-size: var(--fontSize-2);
}

.h3 {
    font-size: var(--fontSize-4);
    font-weight: var(--weight-regular);
    line-height: 1.2;
}


.search_container {
    margin-left: 0 !important;
}


/* Artical------------------------------ */

.article-s {
    margin-block-start: 15rem;
}

.article-content {
    position: relative;
    display: flex;
}


/* Artical side nav */
.side-nav {
    width: 30%;
    padding: 0 2rem 3rem 0;
}

.note {
    padding: 2rem 2rem 0 0;
    /* position: sticky; */
}

.p-heading {
    font-size: 2.4rem;
    color: var(--text-majorelle-blue);
}

.note-p {
    font-size: 1.6rem;
}

/* Artical side nav filter */
.filter-1 {
    margin-block: 3rem;
    background-color: var(--bg-white);
    border-radius: var(--radius-30);
    padding: 2rem;
}

.filter {
    margin-block: 3rem;
    background-color: var(--bg-white);
    border-radius: var(--radius-20);
    padding: 1rem;
}



/* Artical area */
.article-area {
    width: 70%;
    padding: 0 2rem;
}

.search-heading {
    color: var(--text-majorelle-blue);
}

.filter-search {
    margin-block-start: 2rem;
    opacity: 0.6;
    font-size: 1.6rem;
}

/* Artical search bar */
.search-article {
    margin-block-start: 0.3rem;
}

/* articles */
.articles {
    margin-block-start: 5rem;
    padding-block-start: 2rem;
}

.article-card {
    display: flex;
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid hsl(209, 40%, 10%, 0.2);
    border-radius: var(--radius-20);
    margin-block-end: 2rem;
}
.card-img {
    width: 15%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.card-img img {
    max-width: 50px;
    height: 50px;
    border-radius: 30px;
}

.a-title {
    width: 65%;
    display: grid;
    overflow: hidden;
}

.a-title .title {
    font-size: 1.6rem;
    font-weight: var(--weight-medium);
}

.a-title .sub-title {
    font-size: 1.4rem;
    font-weight: var(--weight-light);
}

.btn-access {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    position: relative;
    display: flex;
    padding-inline: 3rem;
    opacity: 0;
    transition: var(--transition-2);
}

.article-card:is(:hover, :focus-visible) {
    background-color: var(--bg-white);
    box-shadow: var(--shadow-2);

    .btn-access {
        opacity: 1;
    }

    .book-mark i:is(:hover, :focus-visible) {
        color: var(--text-majorelle-blue) !important;
    }

    .download i:is(:hover, :focus-visible) {
        color: var(--text-majorelle-blue) !important;
    }
}



